<div class="container-modulo" style="padding:20px">
  <h2 id="titulo">{{titulo}}</h2>
  <hr>
  <div class="card-columns">
      <div class="card" *ngFor="let item of itemsModulo; let i = index">
          <!--<img class="card-img-top" src="..." alt="Card image cap">-->
          <div class="card-body">
            <h5 class="card-title">{{item}}</h5>
            <p class="card-text">Acá iría una breve descripción de la clase para.</p>
            <p class="card-text"><small class="text-muted">Acá va la última vez que se modificó</small></p>
            <button (click)= "verItem(item)" type="button" class="btn btn-outline-primary btn-block" >Ver clase</button>
          </div>
      </div>
  </div>
</div>
